*.csv
*.pyc
*.swp
*.txt
*.gz
*.h5
*.zip
*/__pycache__
archives/
./archives/Data_JS/DataSet1/Data_JS/Input.csv
./archives/CIC-IDS2017/Dataset/Unbalanced/Wednesday-workingHours.pcap_ISCX_unbalanced.csv
./archives/CIC-IDS2017/Dataset/Unbalanced/Monday-WorkingHours.pcap_ISCX_unbalanced.csv
./archives/CIC-IDS2017/Dataset/Unbalanced/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX_unbalanced.csv
./archives/CIC-IDS2017/Dataset/Unbalanced/Tuesday-WorkingHours.pcap_ISCX_unbalanced.csv
./archives/CIC-IDS2017/Dataset/Unbalanced/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX_unbalanced.csv
./archives/CIC-IDS2017/Dataset/Unbalanced/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX_unbalanced.csv
./data/data_CIC_IDS2017/archive.zip
./data/data_CIC_IDS2017/Wednesday-workingHours.pcap_ISCX_unbalanced.csv
./data/data_CIC_IDS2017/Monday-WorkingHours.pcap_ISCX_unbalanced.csv
./data/data_CIC_IDS2017/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX_unbalanced.csv
./data/data_CIC_IDS2017/Tuesday-WorkingHours.pcap_ISCX_unbalanced.csv
./data/data_CIC_IDS2017/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX_unbalanced.csv
./data/data_CIC_IDS2017/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX_unbalanced.csv
./data/data_MNIST/mnist_train.csv
